<style type="text/css">
    #dialog-content {
        padding:10px;
    }    
    #dialog-content h2 {
        text-align: center;        
    }
</style>

<div id="dialog-content"><h2>Please do not press this button again.</h2></div>
